body {
    background: url(images/Agony.png);
}


.headdr {
    background-color: rgb(47, 77, 231);
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    justify-self: center;
    font-family: "Honk", system-ui;
    font-size: xx-large;
    text-align: center;
    margin-left: 25em;
    margin-right: 25em;
    margin-top: 5em;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.summary {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 25em;
    margin-right: 25em;
    padding: 1em;
}

.cont-ovrview {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(47, 77, 231);
    font-style: oblique;
    color: rgb(255, 221, 0);
    margin-left: 25em;
    margin-right: 25em;
    padding: 1em;
    background-color: rgb(47, 77, 231);

}

button {
    display: block;
    max-width: 300px;
    margin: auto;
    border: 3px solid rgb(47, 77, 231);
    background-color: rgb(255, 125, 188);
    font-size: 14px 40px;
    align-self: center;

}

.buttons {
    background-color: rgb(47, 77, 231);
    margin-left: 50em;
    margin-right: 50em;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.unhappy {
    background-color: rgb(47, 77, 231);
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    justify-self: center;
    font-family: "Honk", system-ui;
    font-size: xx-large;
    text-align: center;
    margin-left: 25em;
    margin-right: 25em;
    margin-top: 5em;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.over-it {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 25em;
    margin-right: 25em;
    padding: 1em;
}

.butt-on-z {
    background-color: rgb(47, 77, 231);
    margin-left: 50em;
    margin-right: 50em;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headre {
    background-color: rgb(47, 77, 231);
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    justify-self: center;
    font-family: "Honk", system-ui;
    font-size: xx-large;
    text-align: center;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 5em;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ex-pee {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding-left: 1em;
    padding-right: 1em;
}

.ex-pee-ex {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding-left: 1em;
    padding-right: 1em;
}

.about-you {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.L-Skills {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.no-class {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.dont {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.b-u-t-t-o-n-z {
    background-color: rgb(47, 77, 231);
    margin-left: 30em;
    margin-right: 30em;
    margin-bottom: 10em;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.loser {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
}

.e-ex-pee {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding-right: 1em;
    padding-left: 1em;
}

.pee-ex {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding-left: 1em;
    padding-right: 1em;
}

.pee-e-ex-pee {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.you-about {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.W-Skills{
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.lotsa-class {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.lobotomy {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 5em;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.crying {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.didnt-think-id-make-it-this-far {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.butts {
    background-color: rgb(47, 77, 231);
    margin-left: 30em;
    margin-right: 30em;
    margin-bottom: 10em;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.artssss {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 5em;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.no-artssss {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.buttz {
    background-color: rgb(47, 77, 231);
    margin-left: 30em;
    margin-right: 30em;
    margin-bottom: 10em;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.webbby {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 5em;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.why-did-i-join {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.buutttt {
    background-color: rgb(47, 77, 231);
    margin-left: 30em;
    margin-right: 30em;
    margin-bottom: 10em;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.why {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 5em;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.skibidi-studies {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.butt {
    background-color: rgb(47, 77, 231);
    margin-left: 30em;
    margin-right: 30em;
    margin-bottom: 10em;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.no-cantact-head {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 5em;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.go-away {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.stupid-jobs {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.dont-contact-me {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}


.butt-s {
    background-color: rgb(47, 77, 231);
    margin-left: 30em;
    margin-right: 30em;
    margin-bottom: 10em;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cantactos {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

.b-u-t-t {
    background-color: rgb(47, 77, 231);
    margin-left: 30em;
    margin-right: 30em;
    margin-bottom: 10em;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ya-ha-ha {
    font-family: "Rancho", cursive;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 125, 188);
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 10em;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.agony {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.m-carey {
    padding: 1em;
    display: flex;
    justify-content: center;
}

.artsss {
    font-family: "Honk", system-ui;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: rgb(255, 231, 74);
    background-color: rgb(47, 77, 231);
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
}

a {
   text-align: center;
   display:block;
   font-family: "Rancho", cursive;
   font-size: larger;
}

.suffering{
    background-color: rgb(47, 77, 231);
    padding:1em;
    margin-left: 30em;
    margin-right:30em;
}

.i-hate-this {
    color: rgb(255, 125, 188);
    font-size:x-large;
}

.brain-rot {
    background-color: rgb(47, 77, 231);
    padding:1em;
    margin-left: 15em;
    margin-right:15em;
    font-family: "Rancho", cursive;
    font-size: xx-large;
    color: rgb(255, 231, 74);

}

.rotting {
    color: rgb(255, 125, 188);
    font-size:x-large;
    
}